.layout {
    display: grid;
    grid-template-columns: 150px 1fr; /* Ancho del Sidebar y el resto en Content */
    grid-template-rows: 50px 1fr; /* Altura del Navbar y el resto en Content */
    grid-template-areas:
      "navbar navbar"
      "sidebar content";
    height: 100vh;
  }
  
  .navbar {
    grid-area: navbar;
  }
  
  .sidebar {
    grid-area: sidebar;
  }
  
  .content {
    grid-area: content;
    background-color: #414345;
  }
  