.home-container{
  width: 100%;

  & .allPlayersDoughnut{
    &-container{
      padding-top: 3rem;
    }
    &-title{
      color: aquamarine;
    }
    &-canvas{
    }
  }

  & .allPlayersBar{
    &-container{
    }
    &-title{
      color: aquamarine;
    }
    &-canvas{
    }
  }
}